<!DOCTYPE html>
<html class="@ViewBag.htmlCls" lang="zh-CN">

<head>
    <meta http-equiv="Content-TypeCodeCode" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/gobal.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>

<body class="@ViewBag.bodyCls">
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>

</html>
